/* styles.css */
body, h1, h2, h3, p, ul, li, a {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #406f05;
    color: #fff;
    text-align: center;
    padding: 50px 0;
    animation: wave 3s infinite linear;
}

main {
    text-align: center;
    margin: 20px;
}

@keyframes move_wave {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

svg {
    position: absolute;
    bottom: 0;
    width: 200%;
    height: auto;
    pointer-events: none;
}

svg path:nth-child(1) {
    animation: move_wave 10s linear infinite;
}

svg path:nth-child(2) {
    animation: move_wave 10s linear infinite;
    animation-delay: 5s;
}

h1 {
    font-size: 36px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #076149;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

a:hover {
    background-color: #0ce65f;
}

label {
    display: block;
    margin-left: 10px;
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* styles.css */
body, h1, h2, h3, p, ul, li {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

header {
    background-color: #406f05;
    color: #fff;
    text-align: center;
    padding: 50px 0;
}

main {
    text-align: center;
    margin: 20px;
}

h1 {
    font-size: 36px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.styled-link {
    display: inline-block;
    margin: 10px;
    padding: 10px 20px;
    background-color: #076149;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.styled-link:hover {
    background-color: #0ce65f;
}

label {
    display: block;
    margin-left: 10px;
}

input {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* FIx the footer on the bottom */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/* FIx the footer on the bottom 
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: fixed;
    bottom: 0;
}
*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px; /* Adjust padding as needed */
}

.social-icons {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Aligns items to the start of the flex container */
}

.made-by {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Aligns items to the center of the flex container */
}

.maker {
    display: flex;
    align-items: center;
}

.maker p {
    margin: 0; /* Remove margin */
    padding: 0; /* Remove padding */
}

.maker img {
    width: 30px;
    height: 30px;
}

.made-by p:first-child {
    width: 100%; /* Make the "Made By" text take up the full width of the flex container */
    text-align: center; /* Center the text */
}